.flex-container {
    display: flex; 
    border: 4px solid blue;
    padding: 4px;
    gap: 8px;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
  }
  
  
  .flex-container div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    flex:1;
    gap: 2rem;
    }
  .flex-container .two {
   
  }